<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - BackTheCause</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  <link href="https://fonts.cdnfonts.com/css/bizantheum" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/whittle" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/mechsuit" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/protest" rel="stylesheet">
                
                
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">         
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>

<!--   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap"> -->
  
</head>
<body>


  <script>


  </script>

  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">BackTheCause</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('explore',criteria='')}}">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('explore', criteria='health')}}">Health and Medical Expenses</a></li>
              <li><a class="dropdown-item" href="{{url_for('explore', criteria='education')}}">Education</a></li>
              <li><a class="dropdown-item" href="{{url_for('explore', criteria='disability')}}">Disability Rights</a></li>
              <li><a class="dropdown-item" href="{{url_for('explore', criteria='environment')}}">Environmental Conservation</a></li>
            </ul>
          </li>
        
        {% if not logging_btns %}
        <li class="nav-item text-right ">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
        {% endif %}

        {% if logging_btns %}
          <li class="nav-item text-right ">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% endif %}

        {% if show_admin_button %}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('manage')}}">AdminPanel</a>
        </li>
         {% endif %}

        </ul>
      </div>
      
    </div>
  </nav>

  






  <main id="index-welcome">
    <section class="hero">
      <div class="container" >
        <h1>Welcome to </h1><h1 class="applyOrange">BackTheCause</h1>
        <p>Support innovative projects and make your ideas come to life.</p>
        <a href="{{url_for('explore',criteria='')}}" class="btn">Explore Projects</a>
      </div>
    </section>

    <section class="featured" id="index-featured">
      <div class="container">
        <h2>Featured Projects</h2>

            <section class="feature-image">
              {% for project in projects %}
                <a href="{{url_for('about', id=project.id)}}"><img src="../static/img/{{project.image_url}}" /></a>
              {% endfor %}
            </section>




        
      </div>
    </section>

    <section class="categories" id="index-categories">
      <div class="container">
        <h2>Popular Categories</h2>
        <div class="category-grid">
          <!-- Category cards go here -->

          <div class="category-card">
            <h3>Health and Medical Expenses</h3>
            <p>Fundraising in this category supports individuals or organizations facing high medical costs, including medical treatments, surgeries, medications, or medical equipment.</p>
          </div>

          <div class="category-card">
            <h3>Education</h3>
            <p>Funds raised in this category support educational initiatives, including scholarships, school supplies, building schools, or providing access to quality education for underprivileged individuals.
            </p>
          </div>

          <div class="category-card">
            <h3>Disability Rights</h3>
            <p>This category focuses on fundraising for organizations and initiatives that support individuals with disabilities, advocating for their rights, accessibility, and inclusion in society.
            </p>
          </div>

          <div class="category-card">
            <h3>Environmental Conservation</h3>
            <p>Funds raised here go towards projects and organizations dedicated to preserving and protecting the environment, including conservation efforts, wildlife protection, sustainable practices, and combating climate change.
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="how-it-works" id="index-howWorks">
      <div class="container">
        <h2>How It Works</h2>
        <div class="steps">
          <div class="step">
            <h3>Start Your Campaign</h3>
            <p>Create your project campaign and set your funding goal.</p>
          </div>
          <div class="step">
            <h3>Spread the Word</h3>
            <p>Share your campaign with your network and potential backers.</p>
          </div>
          <div class="step">
            <h3>Collect Funds</h3>
            <p>Receive pledges from backers who believe in your project.</p>
          </div>
          <div class="step">
            <h3>Launch Your Project</h3>
            <p>If successful, use the funds to bring your idea to life.</p>
          </div>
        </div>
      </div>
    </section>
  </main>








  <footer class="footer">
    <div class="footer-container">
      <div class="footer-description">
        <p class="applyMechsuit applyOrange">BackTheCause</p> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is a trusted leader in online fundraising. With simple pricing and a team of Trust & Safety experts in your corner, you can raise money or make a donation with peace of mind.</p>
        <div class="footer-logos">
          <div ><a href="google.com" target="_blank"><img class="socialMediaLogo" src="../static/logos/x_icon.png" alt=""></a></div>
          <div ><img class="socialMediaLogo" src="../static/logos/medium_icon.png" alt=""></div>
          <div ><img class="socialMediaLogo" src="../static/logos/instagram_icon.png" alt=""></div>
          <div ><img class="socialMediaLogo" src="../static/logos/facebook_icon.png" alt=""></div>
        </div>
      </div>
      <div class="footer-sections">
        <div class="footer-section">
          <h3 class="applyMechsuit applyOrange">Features</h3>
          <ul>
            <li><a href="#index-welcome">Welcome</a></li>
            <li><a href="#index-featured">Featured Projexts</a></li>
            <li><a href="#index-categories">Popular Categories</a></li>
            <li><a href="#index-howWorks">How it Works</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3 class="applyMechsuit applyOrange">Discover</h3>
          <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('explore',criteria='')}}">Explore</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3 class="applyMechsuit applyOrange">Categories</h3>
          <ul>
            <li><a href="{{url_for('explore',criteria='health',sort='newest') }}">Health and Medical Expenses</a></li>
            <li><a href="{{url_for('explore',criteria='education',sort='newest') }}">Education</a></li>
            <li><a href="{{url_for('explore',criteria='disability',sort='newest') }}">Disability Rights</a></li>
            <li><a href="{{url_for('explore',criteria='environment',sort='newest') }}">Environmental Conservation</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright applyOrange">
        <p>&copy; 2024 BackTheCause, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  

  <script src="../static/js/script.js"></script>
</body>
</html>